@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Poppins font */

* {
  padding: 0px;
  margin: 0px;
}

:root {
  font-size: 16px;
}
img:not([alt="skynews"]) {
  width: 30px;
  height: 30px;
}
img[alt="skynews"] {
  width: 75px;
  height: 70px;
}

header {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 15px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.sitetitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
}

.searchbar {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  border-bottom: 2px solid black;
}
.searchbar > .search {
  height: 32px;
  font-size: 2rem;
  outline: none;
  border: none;
  flex: 1;
  width: 100%;
  margin-left: 10px;
  padding-bottom: 5px;
}
.searchbar > .search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search.author {
  animation: fade 0.3s ease;
}
.searchbutton,
.filterbutton {
  background: none;
  padding-bottom: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  width: 100%;
  height: 200px;
  background-color: rgb(31, 30, 30);
  color: white;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-headline {
  font-size: 3.5rem;
  margin-bottom: 25px;
}
.nav-support-headline {
  font-size: 1.5rem;
  font-weight: 100;
}

.nav-social {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}
